.main-foto{
    position: relative;
    width: 250px;
    height: 250px;
    /*border-radius: 50%;*/
    margin: 0 auto;
    margin-bottom: 1.5rem;
}
.main-img{
    width: 100%;
    display: block;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    position: relative;
}
.card-list-img{
    width: 100%;
    display: block;
    height: 20rem;
    object-fit: cover;
    border-radius: 50%;
    position: relative;
}
