.card{
    margin: 1rem 0;
    transition: var(--transition);
}
.card:hover{
    transform: translate3d(0, -6px, 0)
}
.card a {
    color: var(--clr-black);
    transition: var(--transition);
}
@media screen and (max-width: 768px){
    .card{
        /*width: 20rem;*/
    }
}